// SASS variables representing standard spacing values
$aqua-spacing0: 0rem;
$aqua-spacing1: 0.25rem;
$aqua-spacing2: 0.5rem;
$aqua-spacing3: 0.75rem;
$aqua-spacing4: 1rem;
$aqua-spacing5: 1.25rem;
$aqua-spacing6: 1.5rem;
$aqua-spacing7: 1.75rem;
$aqua-spacing8: 2rem;
$aqua-spacing9: 2.25rem;
$aqua-spacing10: 2.5rem;
$aqua-spacing11: 2.75rem;
$aqua-spacing12: 3rem;
$aqua-spacing13: 3.25rem;
$aqua-spacing14: 3.5rem;
$aqua-spacing15: 3.75rem;
$aqua-spacing16: 4rem;

// JavaScript variables representing standard spacing values
:export {
  aquaSpacing0: $aqua-spacing0;
  aquaSpacing1: $aqua-spacing1;
  aquaSpacing2: $aqua-spacing2;
  aquaSpacing3: $aqua-spacing3;
  aquaSpacing4: $aqua-spacing4;
  aquaSpacing5: $aqua-spacing5;
  aquaSpacing6: $aqua-spacing6;
  aquaSpacing7: $aqua-spacing7;
  aquaSpacing8: $aqua-spacing8;
  aquaSpacing9: $aqua-spacing9;
  aquaSpacing10: $aqua-spacing10;
  aquaSpacing11: $aqua-spacing11;
  aquaSpacing12: $aqua-spacing12;
  aquaSpacing13: $aqua-spacing13;
  aquaSpacing14: $aqua-spacing14;
  aquaSpacing15: $aqua-spacing15;
  aquaSpacing16: $aqua-spacing16;
}
