// Fonts
$aqua-font-family: Inter;
$aqua-font-weight-normal: 400;
$aqua-font-weight-bold: 700;

// Z-index
$aqua-zindex-snackbar: 200;
$aqua-zindex-sheet-backdrop: 201;
$aqua-zindex-sheet: 202;
$aqua-zindex-popover: 202;
$aqua-zindex-dialog-backdrop: 203;
$aqua-zindex-dialog: 204;
